<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page of First App</title>
</head>
<body>
  <a href="/form/">Add New</a>
  <h1>This is the home page of first app</h1>
  <h2>html file add done</h2> 
  {{text_1}} 
  <ul>
  {%for row in ami %}
    <li>{{row.first_name}}</li>
    <li>{{row.last_name}}</li>
    <li>{{row.instrument}}</li>

  {%endfor%}
 

</ul>
  <!-- <img src="{% static 'ok.png'%}" alt=""> -->
</body>
</html>